@model IEnumerable<Sadvo.Application.ViewModels.PoliticalLeader.PoliticalLeaderViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAd";
}
<link rel="stylesheet" href="~/css/bodyIndex.css" />

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="table-container">
    <table class="table table-modern">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.userName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.siglasPartyPolitical)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ElectionID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.userName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.siglasPartyPolitical)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ElectionID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.status)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
